@import "~@opuscapita/oc-cm-common-styles/styles/colors";

$check-icon-height: 1.6rem;
$list-item-padding: 0.5rem;

.oc-selectable-list-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid $oc-color-support-gray;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;

  .oc-selectable-list-item {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    line-height: 3rem;
    margin: 0;
    padding: $list-item-padding $list-item-padding*2;

    &.selected {
      background-color: $oc-color-support-lightgray;
    }

    .oc-selectable-list-item-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      .oc-list-item-checkbox {
        position: absolute;
        width: 3rem;
        height: calc(100% - #{$list-item-padding * 2});
        text-align: left;
        font-size: $check-icon-height;

        svg {
          position: relative;
          top: 2px;
        }
      }
      
      .oc-list-item-text-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 0 0 3rem;
      }
    }
  }

}