@import "~@opuscapita/oc-cm-common-styles/styles/colors";

$selector-line-height: 2rem;
$selector-icon-width: 1.5rem;
$selector-padding: 0.5rem;

.oc-hierarchy-selector-list-wrapper {
  display: inline-block;
  min-width: 25rem;
  width: 100%;
  margin: 0;
  padding: 0;
}
.oc-hierarchy-selector-list {
  cursor: pointer;
  display: flex;
  width: 100%;
  border: 1px solid $oc-color-support-gray;
  line-height: $selector-line-height;
  padding: $selector-padding;
  overflow: hidden;

  input {
    cursor: pointer;
    outline: none;
    width: 100%;
    min-width: 0;
    line-height: $selector-line-height;
    margin: 0;
    padding: 0 $selector-padding;
    border: none;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;      
  }

  button:focus {
    border: none;
    box-shadow: none;
  }

  .oc-hierarchy-selector-list-btn, .oc-hierarchy-selector-list-clear-btn {
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    display: inline-block;
    // float: right;
    height: 18px;
    padding: 2px $selector-padding 0;
    background-color: $oc-color-white;
    border: 0px solid transparent;
    overflow: hidden;
    color: $oc-color-text;

    &:hover {
      color: $oc-color-main;
    }

    .badge {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .spinner {
    position: relative !important;
    left: 0 !important;
    width: 1.2rem !important;
    div {
      width: 4px !important;
    }
  }
}

.hs-combo-box-tooltip {
  p {
    padding: 0;
    margin: 0;
  }
}
