@import '../styles/colors';

.example-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.example-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: $oc-color-white;
}

.example-git-logo {
  margin-top: 2rem;
  display: 'block';

  span {
    margin-left: 2rem;
  }
}