@import "~@opuscapita/oc-cm-common-styles/styles/colors";
@import "~@opuscapita/oc-cm-common-styles/styles/variables";

.oc-hierarchy-selector-selected-items-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $oc-color-white;
}

.oc-hierarchy-selector-selected-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid $oc-color-support-gray;
  overflow-x: hidden;
  overflow-y: auto;

  .group-list {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    user-select: none;

    .group-list-item {
      cursor: pointer;
      font-size: $oc-font-size-normal;
      font-weight: $oc-font-weight-bold;
      margin: 0 0.5rem 0.2rem 0.5rem;
      line-height: 3rem;
      white-space: nowrap;
      text-overflow: ellipsis;

      div.title-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

      .badge {
        margin: 0 1.5rem 0 0.5rem;
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .left-block {
        svg {
          position: relative;
          top: 4px;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
      .right-block {
        svg {
          padding-top: 2px;
          width: 1.2rem;
        }
      }
    }

    div.left-block {
      min-width: 0;
      flex-shrink: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        min-width: 0;
      }
    }

    div.right-block {
      flex-shrink: 0;
      padding-left: 1rem;
      background-color: $oc-color-white;
    }

  }

  .component-icon {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    font-size: $oc-font-size-large;
    vertical-align: middle;

    &.clickable {
      cursor: pointer;
    }
  }

  .selected-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 2.4rem);
    cursor: default;
    font-size: $oc-font-size-normal;
    font-weight: $oc-font-weight-normal;
    margin: 0.1rem 0 0 2.4rem;
    line-height: 3rem;
    border-bottom: 1px solid $oc-color-background-aside;
}
  .selected-item:first-child {
    border-top: 1px solid $oc-color-support-lightgray;
  }
}

